<div class="row">
   <h1>Hard and soft skills</h1>
    <div class="text-center ccol-sm-4 md-4 col-lg-4">
    <circle-progress
        [percent]="75"
        [radius]="110"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'orange'"
        [innerStrokeColor]="'#ffffff'"
        [title]="'(nombreSkill) HTML'"
        [titleFontSize]="'20px'"
        [titleColor]="'black'"
        [showSubtitle]="false"
        [showUnits]="false"
        [animation]="true"
        [animationDuration]="500"
    ></circle-progress> 
   </div> 
   <div class="text-center ccol-sm-4 md-4 col-lg-4">
       <circle-progress
        [percent]="75"
        [radius]="110"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'orange'"
        [innerStrokeColor]="'#ffffff'"
        [title]="'(nombreSkill) CSS'"
        [titleFontSize]="'20px'"
        [titleColor]="'black'"
        [showSubtitle]="false"
        [showUnits]="false"
        [animation]="true"
        [animationDuration]="500"
    ></circle-progress> 
   </div> 
   <div class="text-center col-sm-4 md-4 col-lg-4">
    <circle-progress
        [percent]="75"
        [radius]="110"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'orange'"
        [innerStrokeColor]="'#ffffff'"
        [title]="'(nombreSkill) GIT'"
        [titleFontSize]="'20px'"
        [titleColor]="'black'"
        [showSubtitle]="false"
        [showUnits]="false"
        [animation]="true"
        [animationDuration]="500"
    ></circle-progress> 
   </div> 
   <div class="text-center col-sm-4 md-4 col-lg-4">
    <circle-progress
        [percent]="75"
        [radius]="110"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'orange'"
        [title]="'(nombreSkill) Inglés'"
        [titleFontSize]="'20px'"
        [titleColor]="'black'"
        [showSubtitle]="false"
        [showUnits]="false"
        [animation]="true"
        [animationDuration]="500"
    ></circle-progress> 
   </div> 
   <div class="text-center col-sm-4 md-4 col-lg-4">
    <circle-progress
        [percent]="75"
        [radius]="110"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'orange'"
        [innerStrokeColor]="'#ffffff'"
        [title]="'(nombreSkill) Liderazgo'"
        [titleFontSize]="'20px'"
        [titleColor]="'black'"
        [showSubtitle]="false"
        [showUnits]="false"
        [animation]="true"
        [animationDuration]="500"
    ></circle-progress> 
   </div> 
   <div class="text-center col-sm-4 md-4 col-lg-4">
    <circle-progress
        [percent]="75"
        [radius]="110"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'orange'"
        [innerStrokeColor]="'#ffffff'"
        [title]="'(nombreSkill) Responsable'"
        [titleFontSize]="'20px'"
        [titleColor]="'black'"
        [showSubtitle]="false"
        [showUnits]="false"
        [animation]="true"
        [animationDuration]="500"
    ></circle-progress> 
   </div> 
   
</div>
