<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>(empresaExp)</h2> - 
                <h2>(posicionExp)</h2> - 
                    <h3>(startExp)</h3> -
                    <h3>(endExp)</h3> -
                    <h3>(tiempoExp)</h3> -
                    <h3>(modoExp)</h3> -
                <h2>(imagenExp)</h2> 
            </li>
            <p>(desExp) Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia natus officiis voluptatibus maxime! Tenetur, aut dignissimos enim ea consequuntur earum odio quos, laudantium aliquam eum similique expedita nobis? Facere, earum?
            </p>
                
           <li>
                <h2>(empresaExp)</h2> - 
                <h2>(posicionExp)</h2> - 
                    <h3>(startExp)</h3> -
                    <h3>(endExp)</h3> -
                    <h3>(tiempoExp)</h3> -
                    <h3>(modoExp)</h3> -
                    <h2>(imagenExp)</h2> 
                </li>
            <p>(desExp) Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia natus officiis voluptatibus maxime! Tenetur, aut dignissimos enim ea consequuntur earum odio quos, laudantium aliquam eum similique expedita nobis? Facere, earum?
            </p>   
           
            <li>
                <h2>(empresaExp)</h2> - 
                <h2>(posicionExp)</h2> - 
                    <h3>(startExp)</h3> -
                    <h3>(endExp)</h3> -
                    <h3>(tiempoExp)</h3> -
                    <h3>(modoExp)</h3> -
                    <h2>(imagenExp)</h2> 
                </li>
            <p>(desExp) Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia natus officiis voluptatibus maxime! Tenetur, aut dignissimos enim ea consequuntur earum odio quos, laudantium aliquam eum similique expedita nobis? Facere, earum?
            </p>

        </ul>
    </div>
</div>
