<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li *ngFor="let experiencia of experienciaList">
                <h2>{{experiencia.empresaExp}}-</h2> 
                <h2>{{experiencia.posicionExp}}-</h2>  
                <h2>{{experiencia.startExp}}-</h2> 
                <h2>{{experiencia.endExp}}-</h2> 
                <h3>({{experiencia.tiempoExp}})-</h3> 
                <h2>{{experiencia.modoExp}}-</h2> 
                <h2>{{experiencia.imagenExp}}</h2> 
                <p>{{experiencia.desExp}}</p>
            </li>
        </ul>
    </div>
</div>
