<div class="row">
    <h1>Hard and soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="120"
            [showUnits]="false"
            [title]="'HTML'"
            [showSubtitle]="false"
            [titleFontSize]="'3em'"
            [titleColor]="'white'"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#ff8c00'"
            [innerStrokeColor]="'#f4a460'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="120"
            [showUnits]="false"
            [title]="'CSS'"
            [showSubtitle]="false"
            [titleFontSize]="'3em'"
            [titleColor]="'white'"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#ff8c00'"
            [innerStrokeColor]="'#f4a460'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="120"
            [showUnits]="false"
            [title]="'GitHub'"
            [showSubtitle]="false"
            [titleFontSize]="'3em'"
            [titleColor]="'white'"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#ff8c00'"
            [innerStrokeColor]="'#f4a460'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="120"
            [showUnits]="false"
            [title]="'Ingles'"
            [showSubtitle]="false"
            [titleFontSize]="'3em'"
            [titleColor]="'white'"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#ff8c00'"
            [innerStrokeColor]="'#f4a460'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="120"
            [showUnits]="false"
            [title]="'Equipo'"
            [showSubtitle]="false"
            [titleFontSize]="'3em'"
            [titleColor]="'white'"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#ff8c00'"
            [innerStrokeColor]="'#f4a460'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="85"
            [radius]="120"
            [showUnits]="false"
            [title]="'Liderazgo'"
            [showSubtitle]="false"
            [titleFontSize]="'3em'"
            [titleColor]="'white'"
            [outerStrokeWidth]="10"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'#ff8c00'"
            [innerStrokeColor]="'#f4a460'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
    </div>

</div>
 