<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>(tituloEdu)</h2> - 
                <h3>(startEdu)</h3> -
                <h3>(endEdu)</h3> -
                <h3>(scoreEdu)</h3> -
                <h2>(imagenEdu)</h2> 
            </li>
                <p>(desEdu) Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia natus officiis voluptatibus maxime! Tenetur, aut dignissimos enim ea consequuntur earum odio quos, laudantium aliquam eum similique expedita nobis? Facere, earum?
                </p>
            <li>
                <h2>(tituloEdu)</h2> - 
                <h3>(startEdu)</h3> -
                <h3>(endEdu)</h3> -
                <h3>(scoreEdu)</h3> -
                <h2>(imagenEdu)</h2> 
            </li>
                <p>(desEdu) Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia natus officiis voluptatibus maxime! Tenetur, aut dignissimos enim ea consequuntur earum odio quos, laudantium aliquam eum similique expedita nobis? Facere, earum?
                </p>
            <li>
                <h2>(tituloEdu)</h2> - 
                <h3>(startEdu)</h3> -
                <h3>(endEdu)</h3> -
                <h3>(scoreEdu)</h3> -
                <h2>(imagenEdu)</h2> 
            </li>
                <p>(desEdu) Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia natus officiis voluptatibus maxime! Tenetur, aut dignissimos enim ea consequuntur earum odio quos, laudantium aliquam eum similique expedita nobis? Facere, earum?
                </p>
        </ul>
    </div>
</div>
