<div class="row">
    <h1>Educación</h1>
    <div class = "col-lg-2">
        <button type="button" class="btn btn-light" routerLink="/nuevaedu" *ngIf="isLogged">
            Agregar educación
        </button>
    </div>
    <div class="col-lg-1" ></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
               <tr *ngFor="let Educacion of educacion">
                <td>{{Educacion.tituloEdu}}</td>
                <td>{{Educacion.startEdu}}</td>
                <td>{{Educacion.endEdu}}</td>
                <td>{{Educacion.scoreEdu}}</td>
                <td>{{Educacion.desEdu}}</td>
                <td *ngIf="isLogged"> 
                    <button class="btn btn-primary" routerLink="/editedu/{{Educacion.idEdu}}"> 
                        <i class="bi bi-pencil-square"></i>EDITAR</button>
                </td>  
                <td *ngIf="isLogged">
                    <button class="btn btn-danger" (click)="delete(Educacion.idEdu)">
                        <i class="bi bi-trash-fill"></i> BORRAR</button>
                </td>
              
               </tr>     
            </tbody>
        </table>
</div>
       